<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"
          preserve-order="true"
          name="C:/Users/shree/IdeaProjects/restAssueredRestApiFramework/src/test/java/com/testautomation/apitesting/tests/DataDrivenTestingUsingExcelFile.java">
        <classes>
            <class name="com.testautomation.apitesting.tests.DataDrivenTestingUsingExcelFile">
                <methods>
                    <include name="dataDrivenTestingUsingExcel"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>